@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
}

header {
    background-color: #663277;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

body {
    background-color: #1a1616;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.5;

    h1{
        padding-top: 10px;
        margin-left: 30px;
    }
}

footer {
    background-color: #663277;
    color: white;
    text-align: center;
    a{
        color: #f0f0f0;
        text-decoration: none;
    }a:hover{
        background-color: #29292965;
    }
    
}

main {
    padding: 2rem;
    flex-grow: 1;
}

nav{
    background-color: #653a74;
    padding: 10px;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        list-style:none;
        a{
            color: #f0f0f0;
            text-decoration: none;
        }a:hover{
            background-color: #2929296b;
        }
    }
}

.container {
    display: flex;
    min-height: calc(100vh - 170px);
}

.product-space{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 2.5rem;
}

.new-products{
    color: rgb(61, 61, 61);
    background-color: #d3d3d3;
    padding: 0px;
        border-radius: 2px;
        img{
            width: 100%;
            height: 80%;
        }
        button{
            width: 100%;
            background-color: #979797;
            color: rgb(255, 255, 255);
            border: none;
            padding: 5px;
        }
        button:hover{
            background-color: #292929;
        }
        font-size:small;
        h3{
            margin-left: 20px;
        }
        p{
            margin-left: 20px;
        }
}